@import url(importer.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-clr);
  color: var(--secondary-clr);
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}
/*anchor elements with inherited properties*/
a {
  text-decoration: none;
  color: inherit;
}
/*making it wrapper for width adjustments*/
.wrapper {
  width: min(var(--max-width), 100% - (var(--global-padding) * 2));
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.125rem;
  gap: 1.25rem;
}
/*Background color for aesthetics*/
.backgroundGradient {
  position: fixed;
  width: 0rem;
  height: 18.75rem;
  top: -0.625rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: var(--tertiary-clr);
  filter: blur(10rem);
  z-index: -99;
}
